html,
body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper.swiper-normal {
  width: 100%;
  height: 137px;
}
.slide-next::before{
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 100%);
    transform: skewX(-25deg);
}
.slide-next:hover::before{
    left:123%;
    transition: all 1s ease;
}  
.swiper-slide-2d-dat::before{
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 100%);
    transform: skewX(-25deg);
}
.swiper-slide-2d-dat:hover::before{
    left:123%;
    transition: all 1s ease;
}   
.swiper-slide-2d-dat{
    overflow:hidden;
}
.swiper-slide-dat-3d::before{
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 100%);
    transform: skewX(-25deg);
}
.swiper-slide-dat-3d:hover::before{
    left:123%;
    transition: all 1s ease;
}   
.swiper-slide-dat-3d{
    overflow:hidden;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.swiper-slide img {
  display: block;
}
.shadow_right{
    width:32px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    top: 0;
    right: 0;
}
.shadow_left{
    width:32px;
    background: linear-gradient(275deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    top: 0;
    left: 0;
}

.collection{
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide-dat-3d .swiper-slide{
    height: 198px;
    background: #E6F4FC;
    border: 0.5px solid #044AA0;
    overflow: hidden;
}
.swiper-3d .swiper-slide-shadow-right,.swiper-3d .swiper-slide-shadow-left {
    background-image: none;
    background-color: rgba(255, 255, 255, 0.5);
    
}
.worker-3d-dat{
    color:#044AA0;

}

.swiper-button-next:after, .swiper-button-prev:after{
    font-size:16px;
}
.swiper-button-next{
    border: 1px solid #044AA0;
    width:40px;
    height:40px;
    color: #044AA0;
    cursor: pointer;
    transform: translateX(30px);
    transition: all .5s ease;
}
.swiper-button-next:hover{
    background-color: #044AA0;
    color:white;
    transition: all .5s ease;
}
.swiper-button-prev:after, .swiper-button-prev:after{
    font-size:16px;
}
.swiper-button-prev{
    border: 1px solid #044AA0;
    width:40px;
    height:40px;
    cursor: pointer;
    transform: translateX(-30px);
    transition: all .5s ease;
}
.swiper-button-prev:hover{
    background-color: #044AA0;
    color:white;
    transition: all .5s ease;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 25px;
}
.team-2{
    color:#044AA0;
    transition: all .5s ease;
}
.team-2:hover{
    color:rgb(255, 129, 51);
    transition: all .5s ease;   
}
@media screen and (min-width:1280px) and (max-width:1320px){
    .swiper-button-next{
        transform: translateX(10px);
    }
    .swiper-button-prev{
        transform: translateX(-10px);
    }
}
@media screen and (min-width:1534px) and (max-width:1576px){
    .swiper-button-next{
        transform: translateX(10px);
    }
    .swiper-button-prev{
        transform: translateX(-10px);
    }
}